body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

h1 {
    color: #2563eb;
    padding-left: 90px;
}
h2{
    padding-left: 140px;
}
.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 700px;
    margin: 40px auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.block1{
    background-color: gold;
    width: 250px;
    border-radius: 10px;
}
.l1{
    text-align: center;
}
.block2{
    background-color: gold;
    width: 250px;
    border-radius: 10px;
    padding: 0px;
}
.block3{
    background-color: gold;
    width: 250px;
    border-radius: 10px;
    padding: 0px;
}
.block4{
    background-color: gold;
    width: 250px;
    border-radius: 10px;
    padding: px;
}
.blocks{
    display: flex;          /* enables flexbox */
    flex-direction: row;    /* horizontal alignment */
    gap: 20px;  
    padding-top: 30px; 
    justify-content: center;
}
p{
    text-align: center;
}
.block5{
    background-color: gold;
    width: 250px;
    border-radius: 10px;
    padding: 0px;
}
