body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

h1 {
    color: #2563eb;
    padding-left: 90px;
}
h2{
    padding-left: 140px;
}
.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 700px;
    margin: 40px auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.block1{
    background-color: gold;
    width: 250px;
    border-radius: 10px;
}
.l1{
    text-align: center;
}
.block2{
    background-color: gold;
    width: 250px;
    border-radius: 10px;
    padding: 0px;
}
.block3{
    background-color: gold;
    width: 250px;
    border-radius: 10px;
    padding: 0px;
}
.block4{
    background-color: gold;
    width: 250px;
    border-radius: 10px;
    padding: px;
}
.blocks{
    display: flex;          /* enables flexbox */
    flex-direction: row;    /* horizontal alignment */
    gap: 20px;  
    padding-top: 30px; 
    justify-content: center;
}
p{
    text-align: center;
}
.block5{
    background-color: gold;
    width: 250px;
    border-radius: 10px;
    padding: 0px;
}
body {
            background: linear-gradient(to right, #74ebd5, #ACB6E5);
            font-family: Arial, sans-serif;
            justify-content: center;      
            align-items: center; 
        }
.new1{
    display: flex;
}
.form-container{
    padding:20px;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 6px 12px rgba(0,0,0,0.15);
    width: 100%;                  
    max-width: 600px;  
}
.form-container input, 
.form-container select, 
.form-container textarea {
            width: 90%;                  
            padding: 10px;
            border-radius: 6px;
            border: 1px solid #ccc;
            margin-bottom: 15px;
        }
.form-container label {
            font-weight: 600;
            margin-bottom: 8px;
            display: block;     
            text-align: left; 
            padding-left: 3%;        
        }
.form-container button {
            margin-top: 20px;             /* spacing above button */
            padding: 12px;                /* padding inside button */
            border-radius: 8px;
            background-color: rgb(9, 111, 29);
            color: antiquewhite;
        }
.form-container .form-actions {
    display: flex;              /* enable flexbox */
    justify-content: center;    /* center horizontally */
    margin-top: 20px;  
          
}
